<!-- 引用公共头部 -->
<%= require('../public/header.ejs')({htmlWebpackPlugin}) %>
<div class="js2-margin-top-l">
	<div class="js2-text-align-center js2-font-size-xl js2-font-bold js2-highlight-primary">产品中心</div>
	<div class="js2-text-align-center">Product Center</div>
	<%= require('@/components/product-list/1/product-list.ejs')({htmlWebpackPlugin}) %>
	<div class="js2-text-align-center js2-highlight-primary"><a href="/${htmlWebpackPlugin.options.directory}/products/index.html">更多产品>></a></div>
</div>
<div class="js2-margin-top-l js2-bg js2-padding-top-l js2-padding-bottom-l">
	<%= require('@/components/about/1/about.ejs')({htmlWebpackPlugin}) %>
</div>
<div class="js2-margin-top-l">
	<div class="js2-text-align-center js2-font-size-xl js2-font-bold js2-highlight-primary">资讯中心</div>
	<div class="js2-text-align-center">Newst Center</div>
	<%= require('@/components/post-list/1/post-list.ejs')({htmlWebpackPlugin}) %>
	<div class="js2-text-align-center js2-highlight-primary"><a href="/${htmlWebpackPlugin.options.directory}/posts/index.html">更多资讯>></a></div>
</div>
<div class="js2-bg js2-padding-top-m js2-margin-top-l">
	<div class="js2-text-align-center js2-font-size-xl js2-font-bold js2-highlight-primary">企业文化</div>
	<div class="js2-text-align-center">Corporate Culture</div>
	<%= require('@/components/culture/1/culture.ejs')({htmlWebpackPlugin}) %>
</div>
<div class="js2-bg js2-padding-top-m js2-margin-top-l">
	<div class="js2-text-align-center js2-font-size-xl js2-font-bold js2-highlight-primary">合作伙伴</div>
	<div class="js2-text-align-center">Cooperation Partners</div>
	<%= require('@/components/client/1/client.ejs')({htmlWebpackPlugin}) %>
</div>

<div class="js2-padding-top-s js2-margin-top-l">
	<div class="js2-text-align-center js2-font-size-xl js2-font-bold js2-highlight-primary">我们的服务</div>
	<div class="js2-text-align-center">Our Service</div>
	<%= require('@/components/service/1/service.ejs')({htmlWebpackPlugin}) %>
</div>

<!-- 引用公共底部 -->
<%= require('../public/footer.ejs')({htmlWebpackPlugin}) %>