<!-- 引用公共头部 -->
<%= require('../public/header.ejs')({htmlWebpackPlugin}) %>
	<%= require('@/components/product-list/1/product-list.ejs')() %>
	<%= require('@/components/about/1/about.ejs')() %>
	<%= require('@/components/post-list/1/post-list.ejs')() %>
<div class="js2-bg js2-padding pt-l pb-l">
	<%= require('@/components/culture/1/culture.ejs')() %>
</div>
	<%= require('@/components/service/1/service.ejs')() %>
<div class="js2-bg js2-padding pt-l pb-xl">
	<%= require('@/components/client/1/client.ejs')() %>
</div>
<!-- 引用公共底部 -->
<%= require('../public/footer.ejs')() %>