<!-- 引用公共头部 -->
<%= require('../public/header.ejs')({htmlWebpackPlugin}) %>
<div class="js2-center-wrap wrap-1280 js2-flex justify-between">
	<div class="flex-1 js2-margin-top-l">
		<%= require('@/components/sidebar/1/sidebar.ejs')({htmlWebpackPlugin}) %>
	</div>
	<div class="flex-3">
		<%= require('@/components/crumbs/1/crumbs.ejs')({htmlWebpackPlugin}) %>
		<div class="js2-margin-top-l">
			<%= require('@/components/product-list/2/product-list.ejs')({htmlWebpackPlugin}) %>
			<%= require('@/components/pagination/1/pagination.ejs')({htmlWebpackPlugin}) %>
		</div>
	</div>
</div>
<!-- 引用公共底部 -->
<%= require('../public/footer.ejs')({htmlWebpackPlugin}) %>